NODE_ENV=production
APP_ENV=staging
PORT=4100
API_CURRENT_VERSION=v1
API_SUPPORTED_VERSIONS=v1,v2
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/adisyon_staging?schema=public
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
NEXT_PUBLIC_APP_NAME=Adisyon SaaS Platform - Staging
NEXT_PUBLIC_API_URL=http://localhost:4100/api/v1
NEXT_PUBLIC_SOCKET_URL=http://localhost:4100/pos
BACKUP_STORAGE_DIR=storage/backups
PG_DUMP_PATH=pg_dump
PG_RESTORE_PATH=pg_restore
